# API and Web Server
fastapi
uvicorn[standard]
websockets

# AI & Constraint Programming
ortools
stable-baselines3[extra]  # Includes PyTorch
gymnasium

# Data Handling
pandas
numpy
matplotlib
scipy

# Database Connector
psycopg2-binary

# Environment Variables
python-dotenv

# Database
sqlalchemy
psycopg2-binary
# Testing
pytest
pytest-asyncio
