# API and Web Server
fastapi
uvicorn[standard]
websockets

# AI & Constraint Programming
ortools
stable-baselines3[extra]  # Includes PyTorch
sb3-contrib
gymnasium

# Data Handling
pandas
numpy
matplotlib
scipy

# Database Connector

# Environment Variables
python-dotenv

# Database
sqlalchemy
# Testing
pytest
pytest-asyncio
